APP_ENV=local
APP_KEY=zBqYyQrPNaIUsnRhsGtHLivjqiMjBVLS
APP_DEBUG=true
APP_URL=http://localhost:3000
APP_LOG_LEVEL=debug
APP_PORT=3000
API_DOMAIN=http://localhost:3000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=goapi
DB_USER=root
DB_PASSWORD=123456
DB_DEBUG=2

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USER=
REDIS_PASSWORD=
REDIS_MAIN_DB=1
REDIS_CACHE_DB=0

LOG_TYPE=daily
LOG_LEVEL=debug

SMS_ALIYUN_ACCESS_ID=
SMS_ALIYUN_ACCESS_SECRET=
SMS_ALIYUN_SIGN_NAME=阿里云短信测试
SMS_ALIYUN_TEMPLATE_CODE=

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM_ADDR=goapi@example.com
MAIL_FROM_NAME=GOApi

JWT_EXPIRE_TIME=1440
JWT_MAX_REFRESH_TIME=1440
JWT_DEBUG_EXPIRE_TIME=10080

CACHE_DRIVER=redis
CACHE_SELECT_DB=0
